:root { 
--blue_gray_200:#ababb8; 
--gray_500:#a0a0a0; 
--blue_700:#005de0; 
--blue_700_01:#176bd4; 
--black_900_3f:#0000003f; 
--black_900_0c:#0000000c; 
--gray_300:#e1e1e1; 
--green_A400:#0fdc90; 
--green_A400_d3:#12de8fd3; 
--blue_700_f6:#176bd4f6; 
--indigo_800_02:#1d3b82; 
--blue_gray_700:#4c4d56; 
--green_A400_02:#0ede8f; 
--green_A400_01:#12de8f; 
--indigo_800_01:#1b3b82; 
--blue_gray_900:#21203c; 
--white_A700:#ffffff; 
--indigo_800:#1a3b82; 
}